{% extends "layout.html" %}
{% block content %}

   <p><h1><span style="color: #70ABAF ">Best vehicle rental brand !</span></h1>
    <div>At RentACar everything we do is about giving you the freedom to discover more.
        We’ll move mountains to find you the right rental car, and bring you a smooth,
        hassle-free experience from start to finish. Here you can find out more about how we work.</div></p>

     <p><ul>
    <li>We know the service you receive matters</li>
    <li>We work with car hire companies all over the world</li>
    <li>And we stay with you every step of the way</li>
    </ul></p>

   <p>  <h2><span style="color: #70ABAF">Why use us</span></h2>
    <div>In simple terms, because we bring you unbeatable value and peace of mind throughout your rental
        car journey. We use all our experience – and the experiences of millions of our customers –
        to bring you the car you need and the quality of service you want. Always at the best price.
        But don’t take our word for it. Take a look at what real people think about RentACar.</div></p>

   <p>  <h2><span style="color: #70ABAF">How we work</span></h2>
    <div>Making sure you have a great experience every time you rent a car makes us happy.
We are a broker, so we arrange the car rental on your behalf. We use our massive buying power to
        bring you great deals. But we’re way more than a price comparison site, because
        we stay with you every step of the way.</div></p>

   <p>  <h2><span style="color: #70ABAF">Who are we</span></h2>
    <div>Our founders had the simple idea of wanting to make renting cars much better.
         And we’ve flourished because our customers love how we work.
         We started in 2019. Fast forward to today and we’re making thousands bookings a year.</div></p>

{% endblock content %}