{% extends "layout.html" %}
{% block content %}

   <p><h1><span style="color: #778899 ">Najlepsza wypożyczalnia samochodów !</span></h1>
    <div>Dla naszej firmy najważniejszy jest Klient,
        dlatego też stale wychodzimy naprzeciw oczekiwaniom naszych Klientów.
        Wszystko to z myślą o owocnej i długoletniej współpracy.
        Mamy na uwadze aktualne trendy i potrzeby.
        Stajemy na wysokości zadania i oferujemy najnowsze modele samochodów
        dające użytkownikom gwarancję bezpieczeństwa i komfortu jazdy.</div></p>

     <p><ul>
    <li>Jesteśmy Polską firmą oferującą wypożyczenie samochodu w prosty sposób</li>
    <li>Posiadamy wieloletnie doświadzenie</li>
    <li>Obsłużyliśmy setki zadowolonych klientów</li>
    </ul></p>

   <p>  <h2><span style="color: #778899 ">Najwyższa jakość</span></h2>
    <div>Wypożyczalnia samochodów RentACar cechuje się wysoką jakością oferowanych samochodów.
        Wszystkie nasze pojazdy są nowe! W trosce o bezpieczeństwo naszych klientów, ze szczególną starannością
        dbamy o sprawność techniczną pojazdów, dlatego stale przeprowadzamy przeglądy techniczne
        w autoryzowanych serwisach.</div></p>

{% endblock content %}