{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ current_user.username }}!</h1>
    {% if not reservations %}
        <div class="alert alert-info" role="alert">
            You haven't got any reservations!
        </div>
    {% else %}
    <div>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Car ID</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
    </tr>
  </thead>
  <tbody>
     {% for reservation in reservations %}
          <tr>
          <th scope="row"> {{ reservation.id }}</th>
          <td> {{ reservation.car_id }}</td>
          <td> {{ reservation.start_date }}</td>
          <td> {{ reservation.end_date }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
    </div>
    {% endif %}
{% endblock content %}