{% extends "layout.html" %}
{% block content %}
    <h1><span style="color: #70ABAF ">Rent a car - find an offer today!</span></h1>
        <p>Retnacar offers a great selection of deals for car rental in Poland. With branches in Poland's major cities and airports, accessing our premium fleet of vehicles is quick and easy, allowing you to get on with enjoying your break in this fascinating country. When you rent a car in Poland from Retnacar, you can be guaranteed the highest standards of vehicle, whether you opt for a luxury sedan or economy city car.</p>
        <p>Make a quick-and-easy car rental reservation today, by simply entering your Polish destination and travel dates, and then comparing all available offers and cars.</p>
        <div class="picture">
            <img src="static/uno.jpg" alt="Obrazek" title="Rower" width="70%" height="30%"/>
        </div><br>
    <h2><span style="color: #778899 ">Frequently Asked Questions</span></h2>
    <p>
        <ul>
            <li><h5>What is driving like in Poland?</h5></li>
                <p>When you rent a car Poland, you need to remember to drive on the right-hand side of the road. Driving in the country is an enjoyable experience, due to the expansion of highways and other major road networks. You must always have your headlights on low beam and give way to traffic on the right, unless otherwise indicated. You must also refrain from using your mobile phone when driving. You can pay tolls on the A2 and A4 highways, either by cash or electronically if your vehicle has a tag.</p>
            <li><h5>How are gas prices in Poland?</h5></li>
                <p>You will find that the price of gas is around 5,26 zł ($1.40) per liter or $5.29 per gallon, when you rent a car in Poland. You will find plenty of self-service and 24h gas stations around the country, mainly in cities and along principal roads. In the more remote areas, gas stations are open until 6:00 pm.</p>
            <li><h5>Where should I rent a car in Poland?</h5></li>
                <p>The most popular cities to rent a car in Poland are Krakow (36% of total searches of users looking to rent a car in Poland), Warsaw (25%) and Wroclaw (12%).</p>
            <li><h5>How old do you have to be to rent a car in Poland?</h5></li>
                <p>You will need to be at least 19 years old and have held a driver’s license for one year to rent a car in Poland. There will be a surcharge for those drivers who are under 25 years old. You will also need an international or EU driving license that will be valid for six months after entering Poland.</p>
            <li><h5>What are the speed limits in Poland?</h5></li>
                <p>You will need to respect the national speed limits when you drive in Poland. In residential areas, the speed limit is anywhere from 20 km/h (12 mph) to 60 km/h (37 mph), and on national roads, you can travel at speeds between 100 km/h (62 mph) and 120 km/h (74 mph). On highways, the maximum speed limit you will find is 140 km/h (86 mph).</p>
        </ul>
    </p>
{% endblock content %}}