{% extends "layout.html" %}
{% block content %}
<h1><span style="color: #778899 ">Wynajem samochodu – znajdź ofertę</span></h1>
    <p>Wypożyczamy tylko nowe pojazdy z niskim przebiegiem.
Działamy w miastach: Warszawa, Wrocław, Zielona Góra, Łódź.
Wynajmij samochód w najlepszej cenie i w najwyższej jakości usługi!</p>
    <h2><span style="color: #778899 ">Dlaczego wypożyczalnia samochdów Rentacar?</span></h2>
    <p>
        <ul>
            <li>Tylko nowe samochody z małym przebiegiem</li>
            <li>Pojazdy czyste, zadbane, bezawaryjne</li>
            <li>Konkurencyjne ceny, bezkonkurencyjna jakość</li>
            <li>Możliwość dostarczenia pojazdu do klienta</li>
            <li>Lokalizacje w 4 miastach: Warszawa, Wrocław, Zielona Góra, Łódź - możliwość pozostawienia w innej lokalizacji</li>
   </ul>
</p>
{#    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}#}
{% endblock content %}